.custom-header{
    position: relative;
    width: 100%;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-content {
    position: relative;
    width: 100%;
    padding: 170px 15px;
    text-align: center;
}

.main-header {
    min-height: 100%;
    color: #fff;
    background-image: url(../img/background.jpg);
    background-position: center;
}

.dishes-bg-header {
    min-height: 80%;
    color: #fff;
    background-image: url(../img/dishes-bg.jpg);
    background-position: center;
}

.dishes-context-container {
    position: absolute;
    top: 45%;
    min-height: 55%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.dishes-context {
    position: absolute;
    background-color: #ffffff;
    min-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 100%;
    color: #0f0f0f;
    text-align: center;
}

.dishes-context h1,
.dishes-context h2,
.dishes-context h3,
.dishes-context h4,
.dishes-context h5,
.dishes-context h6,
.dishes-context p {
    font-family: 'Playfair Display', serif;
}

.dishes-context h1 {
    font-size: 70px;
}

.dishes-context p {
    font-style: italic;
}

.dishes-container {
    color: #101010;


}

.dish-cell {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 10px;

}

.login-form-container {
    margin-left: 5%;
    margin-right: 5%;
}
.login-container {
    background-image: url(../img/background.jpg)
}




.card-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 100px 80px 40px;
    max-width: 400px;
    margin: 0 auto;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.input-form .card-input {
    direction: ltr;
    height: 30px;
    font-size: 15px;
    margin: 5px;
}

.input-form {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.input-form .form-control:focus,
.form-group .form-control:focus {
    border-color: #9B0404;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #9B0404;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #9B0404;
}

.required-fields .form-control {
    padding: 6px 30px 6px 12px;
}

.form-group {
    margin-left: auto;
    margin-right: auto;

}




.custom-btn {
    background-color: #9B0404;
    border-radius: 4px;
    border-width: 0px;
    display: inline-block;
    cursor: pointer;
    color: #fafafa;
    font-family: Verdana;
    font-size: 21px;
    padding: 7px 20px;
    text-decoration: none;
    margin: 0 auto;
}

.locale-btn{
    background-color: rgba(0,0,0,0);
    border: none;
    color: #fafafa;
}

.custom-btn:hover, .custom-btn:focus {
    background-color: #636363;
    color: #fafafa;
    text-decoration: none;
}

.login-help p {
    color: #F2F2F2;
}

.login-help input, .login-help input:hover {
    color: #B1B1B1;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
}

.login-help input:hover {
    text-decoration: underline;
}

.text-center a {
    color: #9B0404;
}

.text-center a:hover {
    color: #636363;
    text-decoration: none;
}

.custom-navbar li .navbar-form {
    margin: 0px;
}

.custom-navbar li .navbar-form a{
    color: #9d9d9d;
    line-height: 20px;
    text-decoration: none;
    padding: 15px;
}

.custom-navbar li .navbar-form a:hover,
.custom-navbar li .navbar-form a:focus {
    color: #fff;
    background-color: transparent;
}

.nav li .navbar-form a {
    display: block;
}

.navbar-nav .open .dropdown-menu  li .navbar-form a,
.navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
}

.dropdown-menu li .wrapper-form a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu li .wrapper-form {
    margin: 0px;
}

.dropdown-menu li .wrapper-form a:hover {
    background-color: #e7e7e7;
    color: #555;
    text-decoration: none;
}

.custom-navbar li .navbar-form a:hover,
.custom-navbar li .navbar-form a:focus {
    color: #fff;
    background-color: transparent;
}

.custom-text-left {
    padding-left: 15px;
    padding-right: 15px;
}

.custom-col {
    padding-right: 0px;
    padding-left: 0px;
}

.remove-btn {
    padding: 5px 15px;
}

.this-is-header {
    font: normal normal normal 65px/1.4em lobster,cursive;
    font-style: italic;
}

.title-header {
    font-family: impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
    font-size: 110px;
    font-weight: 700;
}


.header-content img {
    width: 60px;
    height: 25px;
    object-fit: contain;
}

.centering-table {
    text-align: center;
}

.required-fields input:required {
    background-image: url("../img/perfect_star.png");
    background-repeat: no-repeat;
    background-position-x: right;
}



.required-fields input:required:valid {
    background-image: url("../img/tick.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}
.required-fields input:required:focus:invalid {
    background-image: url("../img/krest.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.custom-dropdown {
    padding: 5px 10px;
}

.dark-bottom {
    margin-bottom: 0px;
    border-radius: 0px;
    background-image: linear-gradient(to top,#3c3c3c 0,#222 100%);
    border: none;
    color: #9d9d9d;
    text-align: center;
}
